SECRET_KEY=SUPER_KEY
DEBUG=False

POSTGRES_USER=django_user
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=django
DB_HOST=db
DB_PORT=5432

DOCKER_USERNAME=username
DOCKER_LOG_MAX_SIZE=10m
DOCKER_LOG_MAX_FILE=5